<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>

<footer class="blog-footer bg-inverse" data-th-fragment="footer">
    <a id="goToTop" href="#">
        <i class="fa fa-chevron-up fa-3x" aria-hidden="true"></i>
    </a>
    <div class="container">
        <p class="m-0 text-center text-white">© 2017 <a href="https://username.com">username.com</a></p>
    </div>

    <!-- JavaScript -->
    <script src="../../js/jquery-3.1.1.min.js" th:src="@{/js/jquery-3.1.1.min.js}" type="text/javascript"></script>
    <script src="../../js/jquery.form.min.js" th:src="@{/js/jquery.form.min.js}" type="text/javascript"></script>
    <script src="../../js/tether.min.js" th:src="@{/js/tether.min.js}" type="text/javascript"></script>
    <script src="../../js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}" type="text/javascript"></script>
    <script src="../../js/nprogress.js" th:src="@{/js/nprogress.js}" type="text/javascript"></script>
    <script src="../../js/thinker-md.vendor.min.js" th:src="@{/js/thinker-md.vendor.min.js}" type="text/javascript"></script>
    <script src="../../js/bootstrap-tagsinput.js" th:src="@{/js/jquery.tagsinput.min.js}" type="text/javascript"></script>
    <script src="../../js/chosen.jquery.js" th:src="@{/js/chosen.jquery.js}" type="text/javascript"></script>
    <script src="../../js/toastr.min.js" th:src="@{/js/toastr.min.js}" type="text/javascript"></script>
    <script src="../../js/cropbox.js" th:src="@{/js/cropbox.js}" type="text/javascript"></script>
    <script src="../../js/thymeleaf-bootstrap-paginator.js" th:src="@{/js/thymeleaf-bootstrap-paginator.js}" type="text/javascript"></script>
    <script src="../../js/catalog-generator.js" th:src="@{/js/catalog-generator.js}" type="text/javascript"></script>
    <script src="../../js/main.js" th:src="@{/js/main.js}" type="text/javascript"></script>
    <script src="../../js/admins/main.js" th:src="@{/js/admins/main.js}" type="text/javascript"></script>
</footer>

</body>
</html>