<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="https://www.ultraq.net.nz/thymeleaf/layout">
<head th:replace="~{fragments/header :: header}">
</head>
<body>
<div class="container blog-content-container">
<h3 th:text="${userModel.title}">军辉</h3>
<div>
    <a th:href="@{/users/form}">创建用户</a>
</div>
<table class="table table-striped">
    <thead>
    <tr>
        <td>Id</td>
        <td>Email</td>
        <td>Name</td>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${userModel.userList.size()} eq 0">
        <td th:colspan="3">没有用户信息</td>
    </tr>
    <tr th:each="user : ${userModel.userList}">
        <td th:text="${user.id}">id</td>
        <td th:text="${user.email}">email</td>
        <td><a th:href="@{'/users/'+${user.id}}" th:text="${user.name}">name</a></td>
    </tr>
    </tbody>
</table>
</div>
<div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>